<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "404 Not Found"}) %>
<link rel="stylesheet" href="/css/lista.css">
<body>
    <%- include('./partials/header', {user}) %>
    <div class="encierro"> 
        <div class="notFoundBox">
            <div class = "not-found">404 Not Found</div>
        </div>
    </div>    


</body>

</html>