footer{
    height: 200px;
}

body{
    /* background-image: url("https://images8.alphacoders.com/377/377803.jpg"); */
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(55,128,191,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(55,128,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3780bf', GradientType=0 );
}    


.loginContainer{
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginCompleto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-publi {
    justify-content: center;
}

.loginTitulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 30px;
    max-width: 500px;
    margin: 0 auto;
    MARGIN-TOP: 10px;
}

.field-group {
    width: 100%;
    padding-top: 20px;
}

.loginForm input,
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    background-color: transparent !important;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #fff !important;
}

.email {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}
.emailInput {
    margin-top: 5px;
}
.password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.passwordInput {
    margin-top: 5px;
}

.form-container {
    text-align: left;
    background: rgba(0,0,0,0.9);
    min-width: 400px;
    max-width: 600px;
    height: 450px;
    border-radius: 5px;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0, .5);
    margin-bottom: 100px;
} 
.form-container i {
    align-items: center;
    border-radius: 60px;
} 
.form-container i {
    align-items: center;
    border-radius: 60px;
} 
.form-container2 i{
    align-items: center;
    border-radius: 60px;
    text-align: center;
}


.logoFormulario {
    height: 150px;
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.form-container2 button{
    margin-bottom: 10px;
}
 
.loginForm {
    margin-bottom: 5px;
    margin-left: 0px;
  
    font-size: 15px;
}

.form-container input {
    width: 90%;
}

.check {
    width: 120px;
}
.rememberMe {
    margin-top: 15px;
    font-size: 20px;
    color: white;
    display: inline-block;
}

.rememberMeCheckbox {
    margin-top: 10px;
    height: 15px;
}

.iniciarSesion {
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 530;
    background: linear-gradient(0deg, rgba(8, 117, 155, 1) 0%, rgba(55, 142, 167, 1) 50%, rgba(58, 170, 203, 1) 100%);
}

.iniciarSesion:hover {
    background: linear-gradient(0deg, rgba(24, 138, 172, 1) 0%, rgba(60, 160, 190, 1) 50%, rgba(89, 204, 238, 1) 100%);
}

.form-container button {
    width: 120px;
    height: 25px;
    border: 1px solid #707070;
    margin-top: 20px;
}

.tituloPublicidad {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    height: 26.4px;
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cybersale {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 20px;
    max-width: 400px;
}

.logoFormulario img {
    height: 150px;
    margin: 0 auto;
}

.centradorCybersale {
    height: 150px;
    margin: 0 auto;
}

.publicidad {
    margin: auto;
    height: 250px;
}

.imgA{
    width: 400px;
    border-radius: 5px;
    border: #000;
    border-width:30px;
    height: 100%;
}
 @media (max-width: 678px) {
    .form-container {
        width: 100%;
        height: 90%;
    }

    /* ULTIMO QUE TOQUE */
   
     /* ULTIMO QUE TOQUE */
} 


input#email{
   
    height: 40px;
}

input.passwordInput {
    height: 40px;
    
}

.remember {
    margin-top: 20px;
}

input#image {
    margin-top: 10px;
}

button.registerButton {
    background: linear-gradient(0deg, rgba(8, 117, 155, 1) 0%, rgba(55, 142, 167, 1) 50%, rgba(58, 170, 203, 1) 100%);
}

.descripcion {
    margin-top: 15px;
}

input#Comentario {
    padding-top: 40px;
}
select {
    background-color: rgba(0,0,0,0.3);
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
}

button{
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: 5px;
    margin: 5px;
}

textarea#descripcion {
    background-color: rgba(0,0,0,0.3);
    border: none;
    color: white;
}

@media (max-width: 375px) {
.form-container {
    width: 80%;
    height: 90%;
    margin-top: 100px;
    margin-right: 10%;
    margin-left: 10%;
    min-width: 300px;
}

}